<div>
    <div class="ingredient">
        <ul>
          <li>Pommes de terre</li>
          <li [ngStyle]="{backgroundColor:isThisIngredientVital ? 'red' : 'yellow'}">Raclette</li>
          <li>Jambon</li>
          <li [ngClass]="{'vital': isThisIngredientVital}">Cornichons</li>
          <li>Chou-fleur</li>
        </ul>
    </div>
    <div class="vip">
      <ul *appDisplayGuests="displayGuestList">
        <li>Brenda</li>
        <li>Dylan</li>
        <li>Michel Drucker</li>
        <li>Marc Aurèle</li>
        <li>Julie</li>
      </ul>
    </div>
    <div class="music">
      <ul>
        <li *ngFor="let song of songList">
            {{song}}
        </li>
      </ul>
    </div>
    <h1 appHighlight>Raclette</h1>
</div>
<div>
  <app-movies-list></app-movies-list>
</div>
<app-kitchen></app-kitchen>
<app-developper></app-developper>
<h2>Quête Angular08 @Output</h2>

<div *ngFor="let onomatopia of onomatopiaList">
  <ul>
    <li>{{ onomatopia }}</li>
  </ul>
</div>

<app-createOnomatopia
  (onomatopia)="onReceiveOnomatopia($event)"
></app-createOnomatopia>